<!DOCTYPE html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <title>File download</title>
</head>
<body>    

<form action="" enctype="multipart/form-data" method="post" style="text-align: center">
    {% csrf_token %}
    
    Выберите файл
    </br>
    Формат документа : TXT, RTF, DOC  
    
    {{ form.as_p }}
    </br>

    ИЛИ
    </br>
    Введите код созданного ранее документа:
    </br>
    <input type="text" name="secret_key"></p>  
    <input type="submit" value="Отправить"></p>
</form>
<p style="text-align: center">
    <font size="6" color="red">
    {{ error }}
    </font>
</p>
</body>
</html>